<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<h1>Students</h1>
<h2>View students</h2>
<table>
    <tr>
        <th>STUDENT NAME</th>
        <th>STUDENT LASTNAME</th>
        <th>STUDENT AGE</th>
    </tr>
    <tr th:each="p: ${students}" >
        <td th:text="${p.firstName}"></td>
        <td th:text="${p.lastName}"></td>
        <td th:text="${p.age}"></td>
    </tr>
    <h2>Add a student</h2>
    <form action="/students" method="post">
        Name: <input type="text" name="firstName"><br />
        LastName:<input type="text" name="lastName"><br />
        Age: <input type="number" step="any" name="age"><br />
        <button type="submit">Add student</button>
    </form>
</table>
</body>
</html>